.App {
  text-align: center;
  /* background-color: red; */
}

.game {
  padding-top: 15px;
  min-height: calc(100vh - 143px);
  background-color: #fdfff5;
  padding-bottom: 10px;
}

.attribution {
  background-color: #fdfff5;
  padding-bottom: 10px;
  padding-left: 35px;
  font-size: small;
}

/* Card */
.card {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  border: 5px solid #10A9E5;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.card-back {
  width: 110px;
  height: 110px;
  background-image: url("./assets/mintbean-logo.png");
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #B2F7EF;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 35em;
  margin: auto;
}

/* Game controls */
.controls {
  display: flex;
  justify-content: space-between;
  max-width: 31em;
  margin: auto;
  margin-bottom: 7px;
}

.lives-left-box {
  display: flex;
  align-items: center;
}

.fa-heart {
  font-size: 1.5em;
  color: red;
  margin-right: 3px;
}

.game-btn {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.restart {
  border: 1px solid blue;
}

.playagain {
  background: #10A9E5;
  color: white;
  border: none;
}

/* Result popup */
.result-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 0.6em;
  min-width: 30%;
  border-radius: 5px;
}

.modal-content * {
  margin: auto;
  margin-bottom: 7px;
  display: block;
  text-align: center;
}

.result-image {
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
}